* {
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffffff7;
  width: 100vw;
}



nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #ff7171;
  align-items: center;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  font-family: "Roboto";
}


nav ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: rgb(12, 12, 12);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}

nav .menu-btn i {
  color: #171616;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
      padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
      display: block;
  }
  nav {
    display: flex;
    height: 80px;
    width: 100%;
    background: #ff7171;
    align-items: center;
    justify-content: flex-end;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    text-align: right;
  }

  #click:checked~.menu-btn i:before {
      content: "\f00d";
  }

  nav ul {
      position: fixed;
      top: 80px;
      left: -100%;
      background: #ff7171;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
  }

  #click:checked~ul {
      left: 0;
  }

  nav ul li {
      width: 100%;
      margin: 40px 0;
  }

  nav ul li a {
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
      margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
      background: none;
      color: cyan;
  }
}






.hero-banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .hero-banner-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .hero-banner-container {
    display: flex;
    flex-direction: column;
  }
}

.hero-banner-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  width: 50%;
  background: linear-gradient(to right, #fff6ae, #ffd2d1);
  height: 100vh;
  margin-top: 0;
}

@media only screen and (max-width: 768px) {
  .hero-banner-text-container {
    width: 100%;
    padding: 20px;
    height: 80vh;
  }
}
@media only screen and (max-width: 480px) {
  .hero-banner-text-container {
    width: 100%;
  }
  .hero-banner-image-container img {
    width: 50%;
    height: 50%;
    background-size: cover;
  }
}

.hero-banner-text-container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-banner-text-container p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
}
.hero-banner-image-container {
  width: 50%;
}
.hero-banner-image-container img {
  width: 100%;
  background-size: cover;
}
@media only screen and (max-width: 768px) {
  .hero-banner-image-container {
    width: 100%;
  }
  .hero-banner-image-container img {
    width: 100%;
    background-size: cover;
  }
}

@media only screen and (max-width: 480px) {
  .hero-banner-image-container {
    width: 100%;
  }
  .hero-banner-image-container img {
    width: 100%;
    background-size: cover;
  }
}

.button {
  background-color: #ff7171;
  color: #fff;
  padding: 10px 50px;
  font-size: 18px;
  cursor: pointer;
  border: none;
}
.hero-banner-img {
  width: 50%;
  height: 100vh;
}
.details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background: linear-gradient(to right, #fff6ae, #ffb5ed);
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .details-container {
    flex-direction: column;
  }
}

@media only screen and (max-width: 480px) {
  .details-container {
    flex-direction: column;
  }
}
.details-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  gap: 10px;
}

.details-image-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image-1,
.image-2 {
  width: 250px;
  height: 250px;
}

.image-3 {
  width: 250px;
  height: 510px;
}
.details-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff7171;
  width: 40%;
  height: 50%;
  padding: 30px;
}
@media only screen and (max-width: 768px) {
  .details-text-container {
    width: 100%;
    height: 40%;
    margin-top: 10px;
  }
}
.details-text-container h1 {
  font-size: 50px;
  margin-bottom: 20px;
  font-weight: 800;
}

@media only screen and (max-width: 480px) {
  .details-container {
    height: 80vh;
  }
  .details-text-container {
    min-width: 100%;
    height: 40%;
    margin-top: 10px;
  }
  .image-1,
  .image-2 {
    width: 150px;
    height: 150px;
  }

  .image-3 {
    width: 150px;
    height: 310px;
  }
  .details-text-container h1 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 600;
  }
}

.details-text-container p {
  font-size: 18px;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 130px;
  gap: 10px;
}

.button-container p {
  font-size: 18px;
  line-height: 25px;
}

.arrow-image {
  width: 20px;
}


